{% extends "_global/index.html" %}

{% block main %}
    <ul>
        {% for product in productsInCategory %}
        <li class="product row">
            <div class="col-12 col-md-2">
                <a href="{{ BASE }}product/{{ product.product_id }}">
                    <img src="{{ BASE }}assets/uploads/{{ product.product_id }}.jpg"
                       alt="Velika slika - {{ product.product_id }}" class="width-100-percent">
               </a>
            </div>

            <div class="col-12 col-md-10">
                <a href="{{ BASE }}product/{{ product.product_id }}">
                    {{ product.title|escape }}
                </a>

                <div class="row">
                    <span class="col-6 col-md-4">{{ product.description|escape }}</span>
                    <span class="col-6 col-md-4">{{ product.ingredients|escape }}</span>
                    <span class="col-12 col-md-4">{{ product.price|escape }} &din;</span>
                </div>  
           </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}