{% extends "_global/index.html" %}

{% block main %}
    <ul>
        {% for product in products %}
        <li class="product">
            <a href="{{ BASE }}product/{{ product.product_id }}" class="product-title">
                {{ product.title|escape }}
            </a>

                <span class="product-description">{{ product.description|escape }}</span>
                <span class="product-ingredients">{{ product.ingredients|escape }}</span>
                <span class="product-price">{{ product.price|escape }} &din;</span>

                <a href="{{ BASE }}product/{{ product.product_id }}" class="product-big-image">
                    <img src="#" alt="Velika slika - {{ product.product_id }}">
            </a>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
Rezultati pretrage
{% endblock %}