{% extends "_global/index.html" %}

{% block main %}
    <a href="#" onclick="addBookmark({{ product.product_id }});">Add to bookmark</a>
    <h1>{{ product.title|escape }}</h1>
    <p>{{ product.description }}</p>
    <p>Sastojci : {{ product.ingredients }}</p>
{% endblock %}

{% block naslov %}
{{ product.title|escape }}
{% endblock %}