{% extends "_global/index.html" %}

{% block main %}
<div class="row">
        {% for category in categories %}
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center category">
             <div class="card-body">
                <a href="{{ BASE }}category/{{ category.category_id }}"
                    class="card-title">
                      {{ category.name }}
                 </a>
             </div>
        </div>
        
        {% endfor %}
</div>

{% endblock %}