{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <a href="{{ BASE }}user/categories">List all categories</a>
    </div>

    <form class="category-form" method="POST">
        <div>
            <label for="name">   Name: </label>
            <input type="text" id="name" name="name" required>
            <label for="measure">Measure: </label>
            <input type="number" id="measure" name="measure" required>
        </div>  
        
        <div>
            <button type="submit">
                Add category
            </button>
        </div>
    </form>
</div>
{% endblock %}