<!doctype html>
<html>
    <head>
        <title>Ta&amp;Ta - {% block naslov %}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    </head>
    <body>
        <div class="container">
        <header>
            <div class="row">
                    <div class="col col-sm">
                            <a href="{{ BASE }}">
                                <img src="{{ BASE }}assets/img/banner-1.jpg" alt="Banner 1">
                            </a>
                        </div>
                        <div class="col col-sm">
                            <div class="social-icons text-right">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>

                            <div class="search-box">
                                 <form method="post" action="{{ BASE }}search">
                                    <div class="form-group">
                                         <div class="input-group">
                                             <input type="text" name="q" class="form-control"
                                                    placeholder="Kljucne reci pretrage" required pattern="[^\s]{2,}">
                                             <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                             </div>
                                        </div>
                                     </div>
                                 </form>
                            </div>
                        </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Pocetna</a>
                            <a class="nav-item nav-link" href="{{ BASE }}categories"><i class="fa fa-list-alt"></i> Kategorije</a>
                            <a class="nav-item nav-link" href="{{ BASE }}profile"><i class="fa fa-user"></i> Profil</a>
                            <a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fa fa-phone"></i> Kontakt</a>
                            <a class="nav-item nav-link" href="{{ BASE }}log-out"><i class="fa fa-sign-out"></i> Odjava</a>
                        </div>
                    </div>
                  </nav>
            </header>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <div class="card bookmark-card">
            <div class="bookmarks card-body">
                Please wait, loading bookmarks...
            </div>
        </div>

        <footer class="site-footer text-center">
            &copy; 2018 - Prodaja slatkisa <a href="#"> Ta and Ta </a>
        </footer>
    </div>

        <script>const BASE = '{{ BASE }}';</script>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ BASE }}assets/js/bookmark.js"></script>
    </body>
</html>